.navbar-header {
    display: block;
}

.navbar-toggler-icon {
    position: relative;
}

.navbar-burguer {
    display: none;
    border: solid 1px gainsboro;
    position: absolute;
    right: -15px;
    top: 40px;
    width: 150px;
}

.active-burguer {
    display: block;
}